.App {
  text-align: center;
  background-color: rgb(18, 11, 19);
  color: white;
}

header,
main,
footer {
  margin: 0 auto;
}

header {
  max-width: 1920px;
}

main,
footer {
  max-width: 1140px;
}

section {
  width: 100%;
}
